<div class="contents-header">
  <h2 class="content-block page-title">{{utilService.convert('/so/soexpected2')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group">
    <dx-button (onClick)="onNew($event)"
               [text]="utilService.convert('com_btn_new')"
               icon="add"
               id="Open"
               type="default">
    </dx-button>
  </span>
  <hr/>
</div>
<div class="contents-body">

  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               [(formData)]="mainFormData"
               [colCountByScreen]="{
                      lg:6, md: 6, sm:3, xs:3
                  }"
               [colCount]="3"
               [minColWidth]="300"
               [showColonAfterLabel]="false"
               class="search-form-box"
      >
        <dxi-item [colCount]="6" [colSpan]="6" itemType="group">
          <dxi-item [editorOptions]="{ value: G_TENANT }" [label]="{text: 'Tenant'}" [visible]="false"
                    dataField="tenant"></dxi-item>
          <!--          soKey-->
          <dxi-item [colSpan]="2" [label]="{text: utilService.convert1('so.soKey', '출고번호')}"
                    dataField="soKey"></dxi-item>
          <!--          soType-->

          <dxi-item [colSpan]="2" [editorOptions]="{  items: dsSoType,
                                                      displayExpr: 'display',
                                                      valueExpr: 'code',
                                                      searchMode:'contains',
                                                      searchEnabled: true,
                                                      showClearButton: true,
                                                      openOnFieldClick: false,
                                                      minSearchLength: 0,
                                                      placeholder: '',
                                                      noDataText: utilService.convert('com_txt_noDataText')
                                                   }"
                    [label]="{text: utilService.convert1('so_so_soType', '출고유형')}"
                    dataField="soType"
                    editorType="dxSelectBox">
          </dxi-item>
          <!--sts-->
          <dxi-item [colSpan]="2" [editorOptions]="{  items: dsSoStatus,
                                            displayExpr: 'display',
                                            valueExpr: 'code',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                    [label]="{text: utilService.convert1('so.sts', '출고상태')}"
                    dataField="sts"
                    editorType="dxSelectBox">
          </dxi-item>
          <!--          shipSchDate-->
          <dxi-item [colSpan]="2"
                    [label]="{text: utilService.convert1('so.shipSchDate', '출고예정일')}" itemType="group">
            <dx-date-box #fromShipSchDate
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         [elementAttr]="{ style: 'float:left' }"
                         dateSerializationFormat="yyyy-MM-dd"
                         displayFormat="yyyy-MM-dd"
                         name="fromShipSchDate"
                         pickerType="calendar"
                         type="date"
                         width="45%"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toShipSchDate
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         [elementAttr]="{ style: 'float:left' }"
                         dateSerializationFormat="yyyy-MM-dd"
                         displayFormat="yyyy-MM-dd"
                         name="toShipSchDate"
                         pickerType="calendar"
                         type="date"
                         width="45%"
            >
            </dx-date-box>
          </dxi-item>
          <!--          companyId-->
          <dxi-item [colSpan]="2" [editorOptions]="{  items: dsCompany,
                                                      displayExpr: 'display',
                                                      valueExpr: 'uid',
                                                      searchMode:'contains',
                                                      searchEnabled: true,
                                                      showClearButton: true,
                                                      openOnFieldClick: false,
                                                      minSearchLength: 0,
                                                      placeholder: '',
                                                      noDataText: utilService.convert('com_txt_noDataText')
                                                   }"
                    [label]="{text: utilService.convert1('so_so_companyId', '거래처')}"
                    dataField="companyId"
                    editorType="dxSelectBox">
          </dxi-item>
          <!--          shipToId-->
          <dxi-item [colSpan]="2" [editorOptions]="{  items: dsShipTo,
                                                      displayExpr: 'display',
                                                      valueExpr: 'uid',
                                                      searchMode:'contains',
                                                      searchEnabled: true,
                                                      showClearButton: true,
                                                      openOnFieldClick: false,
                                                      minSearchLength: 0,
                                                      placeholder: '',
                                                      noDataText: utilService.convert('com_txt_noDataText')
                                                    }"
                    [label]="{text: utilService.convert1('so_so_shipToId', '납품처')}"
                    dataField="shipToId"
                    editorType="dxSelectBox">
          </dxi-item>

          <dxi-item [colSpan]="2" [disabled]="true" [editorOptions]="{  items: dsWarehouse,
                                            displayExpr: 'display',
                                            valueExpr: 'uid',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                    [label]="{text: utilService.convert('so_so_warehouseId')}"
                    dataField="warehouseId"
                    editorType="dxSelectBox">
          </dxi-item>
          <dxi-item [colSpan]="2" [disabled]="true" [editorOptions]="{  items: dsOwner,
                                            displayExpr: 'display',
                                            valueExpr: 'uid',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                    [label]="{text: utilService.convert('so_so_ownerId')}"
                    dataField="ownerId"
                    editorType="dxSelectBox">
          </dxi-item>
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button (onClick)="onReset()"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   icon="check"
                   type="default">
        </dx-button>
        <dx-button (onClick)="onSearch()"
                   [focusStateEnabled]="false"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   icon="check"
                   type="default">
        </dx-button>
      </div>
    </div>
    <div class="foldable-btn">
      <dx-button #foldableBtn (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"
                 type="default"></dx-button>
    </div>
  </div>
  <dx-accordion [animationDuration]="300"
                [collapsible]="true"
                [multiple]="false"
  >
    <dxi-item [title]="utilService.convert1('so.soexpected2', '출고목록')">
      <dx-data-grid #mainGrid
                    (onExporting)="gridUtil.onPageExportXlsx($event)"
                    (onOptionChanged)="onOptionChanged($event)"
                    (onRowDblClick)="rowDblClick($event)"
                    (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [dataSource]="dataSource"
                    [focusedRowEnabled]="true"
                    [rowAlternationEnabled]="true"
                    [showRowLines]="true"
                    columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
        <dxo-search-panel [placeholder]="''"
                          [visible]="true"
                          [width]="240">
        </dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager [allowedPageSizes]=gridUtil.getAllowedPageSize()
                   [displayMode]="'full'"
                   [showInfo]="true"
                   [showNavigationButtons]="true"
                   [showPageSizeSelector]="true"
                   [visible]="true">
        </dxo-pager>
        <dxo-state-storing [customLoad]="loadStateMain"
                           [customSave]="saveStateMain"
                           [enabled]="true"
                           type="custom">
        </dxo-state-storing>

        <!-- Columns -->
        <dxi-column [allowEditing]="false" [allowSearch]="false" [showInColumnChooser]="false" [visible]="false"
                    caption="UID"
                    dataField="uid"></dxi-column>
        <dxi-column [allowEditing]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [visible]="false" caption="Tenant"
                    dataField="tenant"></dxi-column>
        <!-- soKey-->
        <dxi-column [caption]="utilService.convert1('so.soKey', '출고번호')" alignment="center" dataField="soKey"
        ></dxi-column>
        <!-- soType-->
        <dxi-column [caption]="utilService.convert1('so.soType', '출고유형')" alignment="left" dataField="soType"
        >
          <dxo-lookup [dataSource]=dsSoType displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <!--        sts-->
        <dxi-column [caption]="utilService.convert1('so.sts', '출고상태')" alignment="center" dataField="sts">
          <dxo-lookup [dataSource]=dsSoStatus displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <!-- actFlg-->
        <dxi-column [caption]="utilService.convert1('so.actFlg', '사용여부')" alignment="center" dataField="actFlg"
        ></dxi-column>

        <!--        companyId-->
        <dxi-column [caption]="utilService.convert1('so.companyId', '거래처')" alignment="center"
                    dataField="companyId">
          <dxo-lookup [dataSource]=dsCompany displayExpr="display" valueExpr="uid"></dxo-lookup>
        </dxi-column>

        <!--        shipToId-->
        <dxi-column [caption]="utilService.convert1('so.shipToId', '납품처')" alignment="left"
                    dataField="shipToId">
          <dxo-lookup [dataSource]=dsShipTo displayExpr="display" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <!--        soSumItemCount-->
        <dxi-column [caption]="utilService.convert1('so.soSumItemCount','총품목수')" dataField="soSumItemCount"
                    format="#,##0.####"></dxi-column>
        <!--        soSumQty1-->
        <dxi-column [caption]="utilService.convert1('so.soSumQty1','총수량')" dataField="soSumQty1"
                    format="#,##0.####"></dxi-column>

        <!-- shipSchDate-->
        <dxi-column [caption]="utilService.convert1('so.shipSchDate', '출고예정일')" alignment="center"
                    dataField="shipSchDate"
        ></dxi-column>
        <!-- refName-->
        <dxi-column [caption]="utilService.convert1('so.refName', '담당자')" alignment="left" dataField="refName"
        ></dxi-column>
        <!-- phone-->
        <dxi-column [caption]="utilService.convert1('so.phone', '전화번호')" alignment="left" dataField="phone"
        ></dxi-column>
        <!-- email-->
        <dxi-column [caption]="utilService.convert1('so.email', 'E-Mail')" alignment="left" dataField="email"
        ></dxi-column>
        <!--        countrycd-->
        <dxi-column [caption]="utilService.convert1('so.countrycd', '국가')" alignment="center"
                    dataField="countrycd">
          <dxo-lookup [dataSource]=dsCountry displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <!-- zip-->
        <dxi-column [caption]="utilService.convert1('so.zip', '우편번호')" alignment="left" dataField="zip"
        ></dxi-column>
        <!-- address1-->
        <dxi-column [caption]="utilService.convert1('so.address1', '주소1')" alignment="left" dataField="address1"
        ></dxi-column>
        <!-- address2-->
        <dxi-column [caption]="utilService.convert1('so.address2', '주소2')" alignment="left" dataField="address2"
        ></dxi-column>

        <dxi-column [caption]="utilService.convert1('so_so_remarks', '비고')" dataField="remarks"
        ></dxi-column>

        <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_createdBy')"
                    [visible]=this.utilService.isShowVisibleColumn
                    alignment="left" dataField="createdBy">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>

        <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_createdDatetime')"
                    [visible]=this.utilService.isShowVisibleColumn dataField="createdDatetime"></dxi-column>
        <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_modifiedBy')"
                    [visible]=this.utilService.isShowVisibleColumn alignment="left" dataField="modifiedBy">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [visible]=this.utilService.isShowVisibleColumn dataField="modifiedDatetime"></dxi-column>
        <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
          <dxi-total-item displayFormat="{0}" name="soSumItemCount" showInColumn="soSumItemCount"
                          summaryType="custom" valueFormat="#,##0.####">
          </dxi-total-item>
          <dxi-total-item displayFormat="{0}" name="soSumQty1" showInColumn="soSumQty1"
                          summaryType="custom" valueFormat="#,##0.####">
          </dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>

</div>

<!-- Grid popup-->
<dx-popup
  #popup
  (onHiding)="onPopupAfterClose()"
  (onShown)="popupShown($event)"
  [(title)]="popupMode"
  [(visible)]="popupVisible"
  [closeOnOutsideClick]="false"
  [dragEnabled]="true"
  [height]="790"
  [resizeEnabled]="true"
>

  <!-- 삭제 버튼  -->
  <dxi-toolbar-item
    #deleteBtn
    [options]="{
      text: utilService.convert('com_btn_del'),
      stylingMode: 'Contained',
      type: 'danger',
      onClick: popupDeleteClick
    }"
    location="before"
    toolbar="bottom"
    widget="dxButton"></dxi-toolbar-item>

  <!-- 저장 버튼  -->
  <dxi-toolbar-item
    #saveBtn
    [options]="{
      text: utilService.convert('com_btn_save'),
      type: 'success',
      onClick: popupSaveClick
    }"
    location="after"
    toolbar="bottom"
    widget="dxButton"></dxi-toolbar-item>

  <!-- 닫기 버튼  -->
  <dxi-toolbar-item
    [options]="{
      text: utilService.convert('com_btn_close'),
      stylingMode: 'outlined',
      type: 'normal',
      onClick: popupCancelClick
    }"
    location="after"
    toolbar="bottom"
    widget="dxButton"></dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <dx-form #popupForm
             [(formData)]="popupData"
             [colCountByScreen]="{
                      lg:3, md: 3, sm:3, xs:3
                  }"
             [showColonAfterLabel]="true"
             labelLocation="left"
    >
      <!-- table 1 -->
      <dxi-item [caption]="this.utilService.convert1('so_so_infopany','출고 정보')"
                [colCount]="3"
                [colSpan]="3"
                itemType="group">
        <dxi-item [editorOptions]="{ value: G_TENANT }" [visible]="false" dataField="tenant" disabled="true"></dxi-item>
        <!-- soKey -->
        <dxi-item [label]="{text: utilService.convert1('so_so_soKey', '출고번호')}" dataField="soKey"
                  disabled="true"></dxi-item>
        <!-- deliveryType -->
        <dxi-item [editorOptions]="{  items: dsDeliveryType,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"
                  [label]="{text: utilService.convert1('so_so_deliveryType', '운송구분')}"
                  dataField="deliveryType"
                  editorType="dxSelectBox"
        >
          <dxi-validation-rule
            [message]="utilService.convert('com_valid_required', utilService.convert('so_so_deliveryType'))"
            type="required">
          </dxi-validation-rule>
        </dxi-item>
        <!-- sts -->
        <dxi-item [colSpan]="2" [disabled]="true"
                  [editorOptions]="{  items: dsSoStatus,
                                            displayExpr: 'display',
                                            valueExpr: 'code',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                  [label]="{text: utilService.convert1('so.sts', '출고상태')}" dataField="sts"
                  editorType="dxSelectBox">
          <dxi-validation-rule [message]="utilService.convert('com_valid_required', utilService.convert('so_so_sts'))"
                               type="required">
          </dxi-validation-rule>
        </dxi-item>


        <!-- soType -->
        <dxi-item [editorOptions]="{  items: dsSoType,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                   }"
                  [label]="{text: utilService.convert1('so_so_soType', '출고유형')}"
                  dataField="soType"
                  editorType="dxSelectBox">
          <dxi-validation-rule
            [message]="utilService.convert('com_valid_required', utilService.convert('so_so_soType'))"
            type="required">
          </dxi-validation-rule>
        </dxi-item>
        <!-- shipSchDate -->
        <dxi-item
          [editorOptions]="{
                                useMaskBehavior:'true',
                                displayFormat:'yyyy-MM-dd',
                                dateSerializationFormat: 'yyyy-MM-dd'
                                }"
          [label]="{text: utilService.convert1('so_so_shipSchDate', '출고예정일')}"
          dataField="shipSchDate"
          editorType="dxDateBox">
          <dxi-validation-rule
            [message]="utilService.convert('com_valid_required', utilService.convert('so_so_shipSchDate'))"
            type="required">
          </dxi-validation-rule>
        </dxi-item>
        <!-- shipDate -->
        <dxi-item [colSpan]="2" [disabled]="true"
                  [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
                  [label]="{text: utilService.convert1('so_sodirectship_fromShipDate', '출고실적일')}"
                  dataField="shipDate"
                  editorType="dxDateBox">
        </dxi-item>

        <!-- warehouseId -->
        <dxi-item [editorOptions]="{  items: dsWarehouse,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                   }"
                  [label]="{text: utilService.convert1('so_so_warehouseId', '창고')}"
                  dataField="warehouseId"
                  disabled="true"
                  editorType="dxSelectBox">
          <dxi-validation-rule
            [message]="utilService.convert('com_valid_required', utilService.convert('so_so_warehouseId'))"
            type="required">
          </dxi-validation-rule>
        </dxi-item>
        <!-- ownerId -->
        <dxi-item [editorOptions]="{  items: dsOwner,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"
                  [label]="{text: utilService.convert1('so_so_ownerId', '화주')}"
                  dataField="ownerId"
                  disabled="true"
                  editorType="dxSelectBox">
          <dxi-validation-rule
            [message]="utilService.convert('com_valid_required', utilService.convert('so_so_ownerId'))"
            type="required">
          </dxi-validation-rule>
        </dxi-item>
        <!-- actFlg -->
        <dxi-item [editorOptions]="{  items: dsActFlg,
                                      displayExpr: 'codeName',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"
                  [label]="{text: utilService.convert1('so_so_actFlg', '사용여부')}"
                  dataField="actFlg"
                  disabled="true"
                  editorType="dxSelectBox"
        >
          <dxi-validation-rule [message]="utilService.convert('com_valid_required', utilService.convert('so_so_sts'))"
                               type="required">
          </dxi-validation-rule>
        </dxi-item>
        <!-- remarks -->
        <dxi-item [colSpan]="3" [label]="{text: utilService.convert1('so_so_remarks', '비고')}" dataField="remarks"
                  editorType="dxTextArea">
        </dxi-item>
      </dxi-item>
      <!-- table 2 -->

      <dxi-item [caption]="utilService.convert1('so_so_companyinfo', '거래처정보')" [colCount]="3"
                [colSpan]="3"
                itemType="group">
        <!-- companyId -->
        <dxi-item [editorOptions]="{  items: dsCompany,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText'),
                                       onValueChanged: onChangedCompany
                                   }"
                  [label]="{text: utilService.convert1('so_so_companyId', '거래처')}"
                  dataField="companyId"
                  editorType="dxSelectBox">
          <dxi-validation-rule
            [message]="utilService.convert('com_valid_required', utilService.convert('so_so_companyId'))"
            type="required">
          </dxi-validation-rule>
        </dxi-item>
        <!-- shipToId -->
        <dxi-item [editorOptions]="{  items: dsShipTo,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                    }"
                  [label]="{text: utilService.convert1('so_so_shipToId', '납품처')}" [visible]="true"
                  dataField="shipToId"
                  editorType="dxSelectBox">
        </dxi-item>
        <dxi-item [colSpan]="2" itemType="empty"></dxi-item>
        <!-- countrycd -->
        <dxi-item [editorOptions]="{  items: dsCountry,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText'),
                                     onValueChanged: onChangedCountry
                                     }"
                  [label]="{text: utilService.convert1('so_so_countrycd', '국가')}"
                  dataField="countrycd"
                  editorType="dxSelectBox"></dxi-item>
        <!-- port -->
        <dxi-item [editorOptions]="{  items: dsPort,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                     }"
                  [label]="{text: utilService.convert1( 'so_so_port', '항구')}"
                  dataField="port"
                  editorType="dxSelectBox"></dxi-item>
        <!-- zip -->
        <dxi-item [label]="{text: utilService.convert1('so_so_zip', '우편번호')}" dataField="zip"></dxi-item>
        <!-- address1 -->
        <dxi-item [colSpan]="3" [label]="{text: utilService.convert1('so_so_address1', '주소1')}"
                  dataField="address1"></dxi-item>
        <!-- address2 -->
        <dxi-item [colSpan]="3" [label]="{text: utilService.convert1('so_so_address2', '주소2')}"
                  dataField="address2"></dxi-item>
        <!-- refName -->
        <dxi-item [label]="{text: utilService.convert1('so_so_refName', '담당자')}" dataField="refName"
        ></dxi-item>
        <!-- phone -->
        <dxi-item
          [editorOptions]="{mask: '+ccc) ccccccccccccccccc', maskChar: ' ', maskInvalidMessage: 'The input value does not match the mask', onOptionChanged: focusIn}"
          [label]="{text: utilService.convert1('so_so_phone', '전화번호')}"
          dataField="phone"></dxi-item>
        <!-- email -->
        <dxi-item [label]="{text: utilService.convert1('so_so_email', 'E-Mail')}" dataField="email">
          <dxi-validation-rule [message]="utilService.convert1('mm_company_email_vali', 'email 형식에 맞지 않습니다.')"
                               type="email"></dxi-validation-rule>
        </dxi-item>


      </dxi-item>

      <dxi-item [caption]="utilService.convert1('so_so_popupGridTitle', '출고예정 상세 리스트')"
                [colCount]="3"
                [colSpan]="3"
                itemType="group">
        <dx-data-grid
          #popupGrid
          (onFocusedCellChanged)="onFocusedCellChanging($event, this.popupGrid)"
          (onInitNewRow)="onInitNewRow($event)"
          (onToolbarPreparing)="gridUtil.onToolbarPreparingWithComBtn($event, this, addClick, deleteClick)"
          [(selectedRowKeys)]="selectedRows"
          [allowColumnReordering]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          [dataSource]="popupDataSource"
          [focusedRowEnabled]="true"
          [rowAlternationEnabled]="true"
          [showRowLines]="true"
          columnResizingMode=nextColumn
        >
          <dxo-editing [(changes)]="changes"
                       [allowUpdating]="true"
                       [newRowPosition]="'last'"
                       [selectTextOnEditStart]="true"
                       mode="batch"
          ></dxo-editing>
          <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
          <dxo-search-panel
            [placeholder]="''"
            [visible]="true"
            [width]="240"></dxo-search-panel>
          <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
          <dxo-pager
            [allowedPageSizes]=gridUtil.getAllowedPageSize()
            [displayMode]="'full'"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true"
          >
          </dxo-pager>
          <dxo-state-storing [customLoad]="loadStatePopup" [customSave]="saveStatePopup" [enabled]="true"
                             type="custom"></dxo-state-storing>
          <!-- Columns -->
          <dxi-column [allowEditing]="false" [allowSearch]="false"
                      [showInColumnChooser]="false" [visible]="false" caption="UID"
                      dataField="uid"></dxi-column>
          <dxi-column [allowEditing]="false" [allowSearch]="false"
                      [showInColumnChooser]="false" [visible]="false" caption="Tenant"
                      dataField="tenant"></dxi-column>

          <!-- itemAdminId -->
          <dxi-column [caption]="utilService.convert1('so_so_itemAdminId', '품목관리사')" [setCellValue]="setItemAdminValue"
                      [visible]="false"
                      cssClass="grid-cell-required" dataField="itemAdminId">
            <dxo-lookup [dataSource]="dsItemAdmin"
                        displayExpr="display"
                        valueExpr="uid">
            </dxo-lookup>
          </dxi-column>
          <dxi-column [caption]="utilService.convert1('so_so_itemId', '품목')" [setCellValue]="setIsSerial"
                      cssClass="grid-cell-required"
                      dataField="itemId"
                      minWidth="120px">
            <dxo-lookup [dataSource]="getFilteredItemId"
                        displayExpr="display"
                        valueExpr="uid">
            </dxo-lookup>
          </dxi-column>
          <!-- unit -->
          <dxi-column [allowEditing]="false" [caption]="utilService.convert1('rcvDetail.unit3Stylecd', '단위')"
                      alignment="center" dataField="unit">
            <dxo-lookup [dataSource]="getFilteredItemId" displayExpr="unit3Stylecd" valueExpr="uid"></dxo-lookup>
          </dxi-column>
          <!-- expectQty1 -->
          <dxi-column [caption]="utilService.convert1('so_so_expectQty1', '예정수량')" cssClass="grid-cell-required"
                      dataField="expectQty1" dataType="number"
                      format="#,##0.####">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <!-- allocQty1 -->
          <dxi-column [caption]="utilService.convert1('so_so_allocQty1', '할당수량')"
                      dataField="allocQty1" dataType="number"
                      format="#,##0.####"></dxi-column>
          <!-- pickedQty1 -->
          <dxi-column [caption]="utilService.convert1('so_so_pickedQty1', '피킹수량')"
                      dataField="pickedQty1" dataType="number"
                      format="#,##0.####"></dxi-column>
          <!-- shippedQty1 -->
          <dxi-column [caption]="utilService.convert1('so_so_shippedQty1', '실적수량')"
                      dataField="shippedQty1" dataType="number"
                      format="#,##0.####"></dxi-column>
          <!-- adjustQty1 -->
          <dxi-column [caption]="utilService.convert1('so_so_adjustQty1', '조정수량')"
                      dataField="adjustQty1" dataType="number"
                      format="#,##0.####"></dxi-column>
          <!-- lotReserveFlg -->
          <dxi-column [caption]="utilService.convert1('so_so_lotReserveFlg', '로트지정여부')" alignment="center"
                      dataField="lotReserveFlg">
            <dxo-lookup [dataSource]="dsYN"
                        displayExpr="codeName"
                        valueExpr="code">
            </dxo-lookup>
          </dxi-column>

          <dxi-column [caption]="utilService.convert1('rcvDetail.lot1', 'LOT1')" [visible]="false"
                      dataField="lot1"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot2', 'LOT2')" [visible]="false"
                      dataField="lot2"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot3', 'LOT3')" [visible]="false"
                      dataField="lot3"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot4', 'LOT4')" [visible]="false"
                      dataField="lot4"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot5', 'LOT5')" [visible]="false"
                      dataField="lot5"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot6', 'LOT6')" [visible]="false"
                      dataField="lot6"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot7', 'LOT7')" [visible]="false"
                      dataField="lot7"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot8', 'LOT8')" [visible]="false"
                      dataField="lot8"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot9', 'LOT9')" [visible]="false"
                      dataField="lot9"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.lot10', 'LOT10')" [visible]="false"
                      dataField="lot10"></dxi-column>
          <!-- damageFlg -->
          <dxi-column [caption]="utilService.convert1('so_so_damageFlg', '불량여부')" alignment="center"
                      dataField="damageFlg">
            <dxo-lookup [dataSource]="dsDamageFlg"
                        displayExpr="codeName"
                        valueExpr="code">
            </dxo-lookup>
          </dxi-column>
          <!-- isSerial -->
          <dxi-column [caption]="utilService.convert1('so_so_serial', '시리얼')" alignment="center" dataField="isSerial">
            <dxo-lookup [dataSource]="dsYN"
                        displayExpr="codeName"
                        valueExpr="code">
            </dxo-lookup>
          </dxi-column>
          <!-- noShippingFlg -->
          <dxi-column [caption]="utilService.convert1('so_so_noShippingFlg', '출하금지여부')" [visible]="false"
                      alignment="center" dataField="noShippingFlg">
            <dxo-lookup [dataSource]="dsYN"
                        displayExpr="codeName"
                        valueExpr="code">
            </dxo-lookup>
          </dxi-column>
          <!-- foreignCargoFlg -->
          <dxi-column [caption]="utilService.convert1('so_so_foreignCargoFlg', '내수/외수구분')" [visible]="false"
                      alignment="center" dataField="foreignCargoFlg">
            <dxo-lookup [dataSource]="dsYN"
                        displayExpr="codeName"
                        valueExpr="code">
            </dxo-lookup>
          </dxi-column>
          <!-- customsReleaseFlg -->
          <dxi-column [caption]="utilService.convert1('so_so_customsReleaseFlg', '통관진행상태')"
                      [visible]="false"
                      alignment="center" dataField="customsReleaseFlg">
            <dxo-lookup [dataSource]="dsYN"
                        displayExpr="codeName"
                        valueExpr="code">
            </dxo-lookup>
          </dxi-column>
          <!-- taxFlg -->
          <dxi-column [caption]="utilService.convert1('so_so_taxFlg', '과세/비과세여부')" [visible]="false"
                      alignment="center"
                      dataField="taxFlg">
            <dxo-lookup [dataSource]="dsYN"
                        displayExpr="codeName"
                        valueExpr="code">
            </dxo-lookup>
          </dxi-column>
          <!-- whInDate -->
          <dxi-column [allowEditing]="false" [caption]="utilService.convert1('so_so_whInDate', '입고일자', 'In Date')"
                      [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
                      [visible]="false"
                      alignment="center"
                      dataField="whInDate"
                      dataType="date"
                      format="yyyy-MM-dd">
          </dxi-column>
          <!-- mngDate -->
          <dxi-column [allowEditing]="false" [caption]="utilService.convert1('so_so_mngDate', '관리일자', 'Manage Date')"
                      [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
                      [visible]="false"
                      alignment="center"
                      dataField="mngDate"
                      dataType="date"
                      format="yyyy-MM-dd">
          </dxi-column>
          <!-- isSerial -->
          <!-- createdBy -->
          <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_createdBy')"
                      [visible]="false"
                      alignment="left" dataField="createdBy">
            <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
          </dxi-column>
          <!-- createdDatetime -->
          <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_createdDatetime')"
                      [visible]=this.utilService.isShowVisibleColumn dataField="createdDatetime"></dxi-column>
          <!-- modifiedBy -->
          <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_modifiedBy')"
                      [visible]="false" alignment="left" dataField="modifiedBy">
            <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
          </dxi-column>
          <!-- modifiedDatetime -->
          <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_modifiedDatetime')"
                      [visible]=this.utilService.isShowVisibleColumn dataField="modifiedDatetime"></dxi-column>
        </dx-data-grid>
      </dxi-item>
    </dx-form>
  </div>
</dx-popup>

