<div class="contents-header">
  <h2 class="content-block page-title">{{utilService.convert('/rcv/rcv')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group">
    <dx-button (onClick)="onNew($event)"
               [text]="utilService.convert('com_btn_new')"
               icon="add"
               id="Open"
               type="default">
    </dx-button>
  </span>
  <hr/>
</div>
<div class="contents-body">

  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               [(formData)]="mainFormData"
               [colCountByScreen]="{
                      lg:6, md: 6, sm:3, xs:3
                  }"
               [colCount]="3"
               [minColWidth]="300"
               [showColonAfterLabel]="false"
               class="search-form-box"
      >
        <dxi-item [colCount]="6" [colSpan]="6" itemType="group">
          <dxi-item [editorOptions]="{ value: G_TENANT }" [label]="{text: 'Tenant'}" [visible]="false"
                    dataField="tenant"></dxi-item>
          <dxi-item [colSpan]="2" [label]="{text: utilService.convert1('rcv.rcvKey', '입고번호')}"
                    dataField="rcvKey"></dxi-item>

          <dxi-item [colSpan]="2"
                    [label]="{text: utilService.convert1('rcv.rcvSchDate', '입고예정일자')}" itemType="group">
            <dx-date-box #fromRcvSchDate
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         [elementAttr]="{ style: 'float:left' }"
                         dateSerializationFormat="yyyy-MM-dd"
                         displayFormat="yyyy-MM-dd"
                         name="fromRcvSchDate"
                         pickerType="calendar"
                         type="date"
                         width="45%"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toRcvSchDate
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         [elementAttr]="{ style: 'float:left' }"
                         dateSerializationFormat="yyyy-MM-dd"
                         displayFormat="yyyy-MM-dd"
                         name="toRcvSchDate"
                         pickerType="calendar"
                         type="date"
                         width="45%"
            >
            </dx-date-box>
          </dxi-item>
          <dxi-item [colSpan]="2"
                    [label]="{text: utilService.convert1('rcv.receiveDate', '입고실적일자')}" itemType="group">
            <dx-date-box #fromReceiveDate
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         [elementAttr]="{ style: 'float:left' }"
                         dateSerializationFormat="yyyy-MM-dd"
                         displayFormat="yyyy-MM-dd"
                         name="fromReceiveDate"
                         pickerType="calendar"
                         type="date"
                         width="45%"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toReceiveDate
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         [elementAttr]="{ style: 'float:left' }"
                         dateSerializationFormat="yyyy-MM-dd"
                         displayFormat="yyyy-MM-dd"
                         name="toReceiveDate"
                         pickerType="calendar"
                         type="date"
                         width="45%"
            >
            </dx-date-box>
          </dxi-item>
          <dxi-item [colSpan]="2" [editorOptions]="{  items: dsRcvStatus,
                                            displayExpr: 'display',
                                            valueExpr: 'code',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                    [label]="{text: utilService.convert1('rcv.sts', '입고상태')}"
                    dataField="sts"
                    editorType="dxSelectBox">
          </dxi-item>
          <dxi-item [colSpan]="2" [editorOptions]="{  items: dsRcvType,
                                            displayExpr: 'display',
                                            valueExpr: 'uid',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                    [label]="{text: utilService.convert1('rcv.rcvTypecd', '입고유형')}"
                    dataField="rcvTypecd"
                    editorType="dxSelectBox">
          </dxi-item>
          <dxi-item [colSpan]="2" [editorOptions]="{  items: dsSupplier,
                                            displayExpr: 'display',
                                            valueExpr: 'code',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                    [label]="{text: utilService.convert1('rcv.supplierId', '공급처')}"
                    dataField="supplierId"
                    editorType="dxSelectBox">
          </dxi-item>
          <dxi-item [colSpan]="2" [disabled]="true" [editorOptions]="{  items: dsWarehouse,
                                            displayExpr: 'display',
                                            valueExpr: 'uid',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                    [label]="{text: utilService.convert1('rcv.warehouseId', '창고')}"
                    dataField="warehouseId"
                    editorType="dxSelectBox">
          </dxi-item>
          <dxi-item [colSpan]="2" [disabled]="true" [editorOptions]="{  items: dsOwner,
                                            displayExpr: 'display',
                                            valueExpr: 'uid',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                         }"
                    [label]="{text: utilService.convert1('rcv.ownerId', '화주')}"
                    dataField="ownerId"
                    editorType="dxSelectBox">
          </dxi-item>
          <!--          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"-->
          <!--                    [editorOptions]="{ value: G_TENANT }"></dxi-item>-->
          <!--          <dxi-item dataField="logisticsId" [label]="{text: 'Logisticsid'}" [visible]="false"></dxi-item>-->
          <!--          <dxi-item dataField="soKey" [label]="{text: utilService.convert1('so_so_soKey', '출고번호')}"-->
          <!--                    [colSpan]="2"></dxi-item>-->

          <!--          <dxi-item dataField="soType" [colSpan]="2"-->
          <!--                    editorType="dxSelectBox"-->
          <!--                    [label]="{text: utilService.convert1('so_so_soType', '출고유형')}"-->
          <!--                    [editorOptions]="{  items: dsSoType,-->
          <!--                                            displayExpr: 'display',-->
          <!--                                            valueExpr: 'code',-->
          <!--                                            searchMode:'contains',-->
          <!--                                            searchEnabled: true,-->
          <!--                                            showClearButton: true,-->
          <!--                                            openOnFieldClick: false,-->
          <!--                                            minSearchLength: 0,-->
          <!--                                            placeholder: '',-->
          <!--                                            noDataText: utilService.convert('com_txt_noDataText')-->
          <!--                                         }">-->
          <!--          </dxi-item>-->
          <!--          <dxi-item dataField="sts" [colSpan]="2"-->
          <!--                    editorType="dxSelectBox"-->
          <!--                    [label]="{text: utilService.convert1('so_so_sts', '출고상태')}"-->
          <!--                    [editorOptions]="{  items: dsSoStatus,-->
          <!--                                            displayExpr: 'display',-->
          <!--                                            valueExpr: 'code',-->
          <!--                                            searchMode:'contains',-->
          <!--                                            searchEnabled: true,-->
          <!--                                            showClearButton: true,-->
          <!--                                            openOnFieldClick: false,-->
          <!--                                            minSearchLength: 0,-->
          <!--                                            placeholder: '',-->
          <!--                                            noDataText: utilService.convert('com_txt_noDataText')-->
          <!--                                         }">-->
          <!--          </dxi-item>-->

          <!--          <dxi-item itemType="group"-->
          <!--                    [label]="{text: utilService.convert1('so_so_shipSchDate', '출고예정일')}" [colSpan]="2">-->
          <!--            <dx-date-box #fromShipSchDate-->
          <!--                         name="fromShipSchDate"-->
          <!--                         type="date"-->
          <!--                         pickerType="calendar"-->
          <!--                         displayFormat="yyyy-MM-dd"-->
          <!--                         dateSerializationFormat="yyyy-MM-dd"-->
          <!--                         [calendarOptions]="{useMaskBehavior:'true'}"-->
          <!--                         width="45%"-->
          <!--                         [elementAttr]="{ style: 'float:left' }"-->
          <!--            >-->
          <!--            </dx-date-box>-->
          <!--            <div style="float:left;margin:5px">~</div>-->
          <!--            <dx-date-box #toShipSchDate-->
          <!--                         name="toShipSchDate"-->
          <!--                         type="date"-->
          <!--                         pickerType="calendar"-->
          <!--                         displayFormat="yyyy-MM-dd"-->
          <!--                         dateSerializationFormat="yyyy-MM-dd"-->
          <!--                         [calendarOptions]="{useMaskBehavior:'true'}"-->
          <!--                         width="45%"-->
          <!--                         [elementAttr]="{ style: 'float:left' }"-->
          <!--            >-->
          <!--            </dx-date-box>-->
          <!--          </dxi-item>-->

          <!--         -->

          <!--          <dxi-item dataField="companyId" [colSpan]="2"-->
          <!--                    editorType="dxSelectBox"-->
          <!--                    [label]="{text: utilService.convert1('so_so_companyId', '거래처')}"-->
          <!--                    [editorOptions]="{  items: dsCompany,-->
          <!--                                            displayExpr: 'display',-->
          <!--                                            valueExpr: 'uid',-->
          <!--                                            searchMode:'contains',-->
          <!--                                            searchEnabled: true,-->
          <!--                                            showClearButton: true,-->
          <!--                                            openOnFieldClick: false,-->
          <!--                                            minSearchLength: 0,-->
          <!--                                            placeholder: '',-->
          <!--                                            noDataText: utilService.convert('com_txt_noDataText')-->
          <!--                                         }">-->
          <!--          </dxi-item>-->
          <!--          <dxi-item dataField="shipToId" [colSpan]="2"-->
          <!--                    editorType="dxSelectBox"-->
          <!--                    [label]="{text: utilService.convert1('so_so_shipToId', '납품처')}"-->
          <!--                    [editorOptions]="{  items: dsShipTo,-->
          <!--                                            displayExpr: 'display',-->
          <!--                                            valueExpr: 'uid',-->
          <!--                                            searchMode:'contains',-->
          <!--                                            searchEnabled: true,-->
          <!--                                            showClearButton: true,-->
          <!--                                            openOnFieldClick: false,-->
          <!--                                            minSearchLength: 0,-->
          <!--                                            placeholder: '',-->
          <!--                                            noDataText: utilService.convert('com_txt_noDataText')-->
          <!--                                          }">-->
          <!--          </dxi-item>-->

          <!--          <dxi-item dataField="warehouseId" [colSpan]="2"-->
          <!--                    editorType="dxSelectBox"-->
          <!--                    disabled="true"-->
          <!--                    [label]="{text: utilService.convert1('so_so_warehouseId', '창고')}"-->
          <!--                    [editorOptions]="{  items: dsWarehouse,-->
          <!--                                            displayExpr: 'display',-->
          <!--                                            valueExpr: 'uid'-->
          <!--                                        }">-->
          <!--          </dxi-item>-->

          <!--          <dxi-item dataField="ownerId" [colSpan]="2"-->
          <!--                    editorType="dxSelectBox"-->
          <!--                    disabled="true"-->
          <!--                    [label]="{text: utilService.convert1('so_so_ownerId', '화주')}"-->
          <!--                    [editorOptions]="{ items: dsOwner,-->
          <!--                                           displayExpr: 'display',-->
          <!--                                           valueExpr: 'uid'-->
          <!--                                        }">-->
          <!--          </dxi-item>-->
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button (onClick)="onReset()"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   icon="check"
                   type="default">
        </dx-button>
        <dx-button (onClick)="onSearch()"
                   [focusStateEnabled]="false"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   icon="check"
                   type="default">
        </dx-button>
      </div>
    </div>
    <div class="foldable-btn">
      <dx-button #foldableBtn (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"
                 type="default"></dx-button>
    </div>
  </div>
  <dx-accordion [animationDuration]="300"
                [collapsible]="true"
                [multiple]="false"
  >
    <dxi-item [title]="utilService.convert1('so_so_mainGridTitle', '출고 목록')">
      <dx-data-grid #mainGrid
                    (onExporting)="gridUtil.onPageExportXlsx($event)"
                    (onRowDblClick)="rowDblClick($event)"
                    (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [dataSource]="dataSource"
                    [focusedRowEnabled]="true"
                    [rowAlternationEnabled]="true"
                    [showRowLines]="true"
                    columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
        <dxo-search-panel [placeholder]="''"
                          [visible]="true"
                          [width]="240">
        </dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager [allowedPageSizes]=gridUtil.getAllowedPageSize()
                   [displayMode]="'full'"
                   [showInfo]="true"
                   [showNavigationButtons]="true"
                   [showPageSizeSelector]="true"
                   [visible]="true">
        </dxo-pager>
        <dxo-state-storing [customLoad]="loadStateMain"
                           [customSave]="saveStateMain"
                           [enabled]="true"
                           type="custom">
        </dxo-state-storing>

        <!-- Columns -->
        <dxi-column [allowEditing]="false" [allowSearch]="false" [showInColumnChooser]="false" [visible]="false"
                    caption="UID"
                    dataField="uid"></dxi-column>
        <!-- rcvkey-->
        <dxi-column [caption]="utilService.convert1('rcv.rcvKey', '입고번호')" alignment="center" dataField="rcvKey"
        ></dxi-column>
        <!--        sts-->
        <dxi-column [caption]="utilService.convert1('rcv.sts', '상태')" alignment="center" dataField="sts">
          <dxo-lookup [dataSource]=dsRcvStatus displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>

        <!--        rcvSchDate-->
        <dxi-column [caption]="utilService.convert1('rcv.rcvSchDate', '입고예정일')" alignment="center"
                    dataField="rcvSchDate">
        </dxi-column>

        <!--        dsSupplier-->
        <dxi-column [caption]="utilService.convert1('rcv.supplierId', '거래처')" alignment="center" dataField="supplierId">
          <dxo-lookup [dataSource]=dsSupplier displayExpr="display" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <!-- rcvSumItemCount-->
        <dxi-column [caption]="utilService.convert1('rcv.rcvSumItemCount', '총품목수')" alignment="center"
                    dataField="rcvSumItemCount"
        ></dxi-column>
        <!-- 전표비고-->
        <dxi-column [caption]="utilService.convert1('rcv.remarks', '전표비고')" alignment="center" dataField="remarks"
        ></dxi-column>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>

</div>

<!-- Grid popup-->
<dx-popup
  #popup
  (onShown)="popupShown($event)"
  [(title)]="popupMode"
  [(visible)]="popupVisible"
  [closeOnOutsideClick]="false"
  [dragEnabled]="true"
  [height]="790"
  [resizeEnabled]="true"
>

  <!-- 삭제 버튼  -->
  <dxi-toolbar-item
    #deleteBtn
    [options]="{
      text: utilService.convert('com_btn_del'),
      stylingMode: 'Contained',
      type: 'danger',
      onClick: popupDeleteClick
    }"
    location="before"
    toolbar="bottom"
    widget="dxButton"></dxi-toolbar-item>

  <!-- 저장 버튼  -->
  <dxi-toolbar-item
    #saveBtn
    [options]="{
      text: utilService.convert('com_btn_save'),
      type: 'success',
      onClick: popupSaveClick
    }"
    location="after"
    toolbar="bottom"
    widget="dxButton"></dxi-toolbar-item>

  <!-- 닫기 버튼  -->
  <dxi-toolbar-item
    [options]="{
      text: utilService.convert('com_btn_close'),
      stylingMode: 'outlined',
      type: 'normal',
      onClick: popupCancelClick
    }"
    location="after"
    toolbar="bottom"
    widget="dxButton"></dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <dx-form #popupForm
             [(formData)]="popupData"
             [colCountByScreen]="{
                      lg:3, md: 3, sm:3, xs:3
                  }"
             [showColonAfterLabel]="true"
             labelLocation="left"
    >
      <!-- Master -->
      <dxi-item [caption]="this.utilService.convert1('rcvExpect_popupTitle1', '입고 정보', 'Receive Information')"
                [colCount]="3"
                [colSpan]="3"
                itemType="group">
        <dxi-item [editorOptions]="{ value: G_TENANT }" [visible]="false" dataField="tenant"></dxi-item>
        <dxi-item [disabled]="true" [label]="{text: utilService.convert1('rcv.rcvKey', '입고번호')}"
                  dataField="rcvKey"></dxi-item>
        <dxi-item [editorOptions]="{
                                      items: dsRcvStatus,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }" [label]="{text: utilService.convert1('rcv.sts', '입고상태')}"
                  dataField="sts" editorType="dxSelectBox">
          <dxi-validation-rule [message]="utilService.convert('com_valid_required', utilService.convert('rcv.sts'))"
                               type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [editorOptions]="{  items: dsRcvType,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }" [label]="{text: utilService.convert1('rcv.rcvTypecd', '입고유형')}"
                  dataField="rcvTypecd" editorType="dxSelectBox"></dxi-item>
        <dxi-item
          [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
          [label]="{text: utilService.convert1('rcv.rcvSchDate', '입고예정일자')}"
          dataField="rcvSchDate"
          editorType="dxDateBox"></dxi-item>
        <dxi-item [colSpan]="1" [disabled]="true"
                  [editorOptions]="{
                                      items: dsWarehouse,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')

                                      }" [label]="{text: utilService.convert1('rcv.warehouseId', '창고', 'Warehouse')}"
                  dataField="warehouseId"
                  editorType="dxSelectBox"
        >
          <dxi-validation-rule
            [message]="utilService.convert('com_valid_required', utilService.convert('rcv.warehouseId'))"
            type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [colSpan]="1" [disabled]="true"
                  [editorOptions]="{
                                      items: dsOwner,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }" [label]="{text: utilService.convert1('rcvDetail.ownerId', '화주', 'Owner')}"
                  dataField="ownerId"
                  editorType="dxSelectBox"
        >
          <dxi-validation-rule
            [message]="utilService.convert('com_valid_required', utilService.convert('rcvDetail.ownerId'))"
            type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [colSpan]="3" [label]="{text: utilService.convert1('rcv.remarks', '비고')}"
                  dataField="remarks"></dxi-item>
      </dxi-item>

      <dxi-item [caption]="utilService.convert1('rcvExpect_popupGridTitle', '입고상품 목록', 'Receive Detail List')"
                [colCount]="3"
                [colSpan]="3"
                itemType="group">
        <dx-data-grid
          #popupGrid
          (onFocusedCellChanged)="onFocusedCellChanging($event, this.popupGrid)"
          (onInitNewRow)="onInitNewRow($event)"
          (onToolbarPreparing)="gridUtil.onToolbarPreparingWithComBtn($event, this, addClick, deleteClick)"
          [(selectedRowKeys)]="selectedRows"
          [allowColumnReordering]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          [dataSource]="popupDataSource"
          [focusedRowEnabled]="true"
          [rowAlternationEnabled]="true"
          [showRowLines]="true"
          columnResizingMode=nextColumn
        >
          <dxo-editing [(changes)]="changes"
                       [allowUpdating]="true"
                       [newRowPosition]="'last'"
                       [selectTextOnEditStart]="true"
                       mode="batch"
          ></dxo-editing>
          <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
          <dxo-search-panel
            [placeholder]="''"
            [visible]="true"
            [width]="240"></dxo-search-panel>
          <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
          <dxo-pager
            [allowedPageSizes]=gridUtil.getAllowedPageSize()
            [displayMode]="'full'"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true"
          >
          </dxo-pager>
          <dxo-state-storing [customLoad]="loadStatePopup" [customSave]="saveStatePopup" [enabled]="true"
                             type="custom"></dxo-state-storing>
          <dxi-column [allowEditing]="false" [allowSearch]="false" [showInColumnChooser]="false" [visible]="false"
                      caption="UID" dataField="uid"></dxi-column>
          <dxi-column [allowEditing]="false" [allowSearch]="false" [showInColumnChooser]="false" [visible]="false"
                      caption="tenant" dataField="tenant"></dxi-column>
          <dxi-column [caption]="utilService.convert('com_text_no')" alignment="center" cellTemplate="NoTemplate"
                      name="No" width="50"></dxi-column>
          <div *dxTemplate="let data of 'NoTemplate'">
            {{ data.rowIndex + 1}}
          </div>

          <dxi-column [allowEditing]="false" [allowSearch]="false"
                      [caption]="utilService.convert1('rcvDetail.itemAdminId', '품목관리사', 'Item Admin')"
                      [showInColumnChooser]="false" [visible]="false"
                      cssClass="grid-cell-required"
                      dataField="itemAdminId">
          </dxi-column>

          <dxi-column [caption]="utilService.convert1('rcvDetail.itemId', '품목', 'Item')" cssClass="grid-cell-required"
                      dataField="itemId" width="250">
            <dxo-lookup [dataSource]="dsItemId" displayExpr="display" valueExpr="uid"></dxo-lookup>
          </dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.expectQty1', '예정수량', 'Expect Quantity')"
                      [editorOptions]="{format:'#,##0.####', step:0}"
                      cssClass="grid-cell-required"
                      dataField="expectQty1"
                      dataType="number" format="#,##0.####"
                      width="150">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column [caption]="utilService.convert('rcvDetail.lot1')" [visible]="false"
                      dataField="lot1"></dxi-column>
          <dxi-column [caption]="utilService.convert1('rcvDetail.whInDate', '입고일자', 'In Date')"
                      [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
                      alignment="center" cssClass="grid-cell-required"
                      dataField="whInDate"
                      dataType="date"
                      format="yyyy-MM-dd" width="120">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>


          <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_createdBy')"
                      [visible]=this.utilService.isShowVisibleColumn
                      alignment="left" dataField="createdBy">
            <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
          </dxi-column>
          <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_createdDatetime')"
                      [visible]=this.utilService.isShowVisibleColumn dataField="createdDatetime"></dxi-column>
          <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_modifiedBy')"
                      [visible]=this.utilService.isShowVisibleColumn alignment="left" dataField="modifiedBy">
            <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
          </dxi-column>
          <dxi-column [allowEditing]="false" [caption]="utilService.convert('com_text_modifiedDatetime')"
                      [visible]=this.utilService.isShowVisibleColumn dataField="modifiedDatetime"></dxi-column>
        </dx-data-grid>
      </dxi-item>
    </dx-form>
  </div>
</dx-popup>

